SIDARMA_API_IMAGE_TAG=20260504
SIDARMA_WORKER_IMAGE_TAG=20260504rev01
SIDARMA_SCHEDULER_IMAGE_TAG=20260503

MONGO_HOST=10.20.220.24
MONGO_PORT=27017
MONGO_DB=sidarma
MONGO_INITDB_ROOT_USERNAME=CHANGE_ME
MONGO_INITDB_ROOT_PASSWORD=CHANGE_ME

MINIO_UPLOAD_ENABLED=true
MINIO_ENDPOINT=http://10.20.220.24:9200
MINIO_ACCESS_KEY=CHANGE_ME
MINIO_SECRET_KEY=CHANGE_ME
MINIO_BUCKET=sidarma-products
MINIO_SECURE=false

NODE_ID=srv-c
NODE_NAME=Server C
NODE_LABEL=C
NODE_HOSTNAME=10.20.220.22
NODE_ALIASES=srv-c,Server C,C,10.20.220.22,sidarma-c
NODE_ROLES=api,worker
SCHEDULER_IDENTITY=

CLUSTER_API_LOCAL_URL=http://127.0.0.1:8000
CLUSTER_PEERS_JSON=[{"node_id":"srv-a","node_name":"Server A","node_label":"A","base_url":"http://192.168.12.114:8000"},{"node_id":"srv-b","node_name":"Server B","node_label":"B","base_url":"http://10.20.220.23:8000"}]
WEB_API_SHARED_TOKEN=CHANGE_ME
CLUSTER_NODE_ADMIN_ROLES=super_admin

LOG_API_PATH=/var/log/sidarma/api.log
LOG_WORKER_PATH=/var/log/sidarma/worker.log
LOG_SCHEDULER_PATH=/var/log/sidarma/scheduler.log

RAINBOW_STAGING_PATH=/data/rainbow/staging
RAINBOW_IMPORT_PATH=/data/rainbow/import
RAINBOW_RB5INPUT_PATH=/data/rainbow/rb5input
RAINBOW_ONLINE_PATH=/data/rainbow/online
RAINBOW_RAWDATA_PATH=/data/rainbow/rawdata

NODE_REGISTRY_CACHE_TTL_SECONDS=5
WORKER_IDLE_CUTOFF_SECONDS=90
